/**
 * Styles for wiki pages using the <hiero> parser tag.
 */

.mw-hiero-table {
	border: 0;
	border-spacing: 0;
}

.mw-hiero-table td {
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.mw-hiero-box {
	background: #000;
}

.mw-mirrored {
	-webkit-transform: scaleX( -1 );
	-moz-transform: scaleX( -1 );
	-ms-transform: scaleX( -1 );
	-o-transform: scaleX( -1 );
	transform: scaleX( -1 );
	/* stylelint-disable value-keyword-case */
	filter: FlipH;
	-ms-filter: 'FlipH';
	/* stylelint-enable value-keyword-case */
}
